<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 网络权限 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 读取外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Android 10+ 存储权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- WIFI 状态访问权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinioDemo"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AlbumListActivity"
            android:parentActivityName=".LoginActivity" />

        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />

        <activity
            android:name=".MainActivity"
            android:parentActivityName=".LoginActivity" />

        <activity
            android:name=".UploadActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ImageViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.MinioDemo.Fullscreen"/>
    </application>

</manifest>